<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detector</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <form id="news-form">
        <h1>Fake News Detection</h1>
        <textarea id="news-input" name="message" placeholder="Enter news text here..."></textarea>
        <button type="submit" class="btn-primary">Check</button>
        <div id="prediction"></div>
    </form>
    <script src="static/script.js"></script>
</body>
</html>
